<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Cajoled unittest file | <%= title %> | <%= timestamp %></title>
  <%= lib_files %>
</head>
<body>
  <p><a href="logs/<%= gadget.log_filename %>">Cajoler log file</a></p>
  
  <div id="base-test" class="test"></div>

  <%= cajoled_file_loader %>
  <%= cajoled_file %>
  <%= transport %>
</body>
</html>
