<div>
  <%= lib_files %>
  <%= css_fixtures %>
  <%= js_fixtures %>
  <%= test_file %>

  <div id="testlog"></div>

  <%= html_fixtures %>

  <script type="text/javascript" charset="utf-8">
    Test.Unit.AutoRunner.run();
  </script>
</div>